@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --telegram-bg: #17212b;
  --telegram-secondary: #232e3c;
  --telegram-text: #ffffff;
  --telegram-hint: #8e9091;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--telegram-bg);
  color: var(--telegram-text);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--telegram-secondary);
}

::-webkit-scrollbar-thumb {
  background: #5288c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c9bcf;
}



